html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#app {
  height: 100%;
}

.dote-post-content {
  --post-avatar-size: 32px;
  --post-avatar-mini-size: 20px;
  --post-avatar-mini-offset: 28px;
  --post-avatar-origin-size: 20px;
  --post-avatar-origin-offset: 12px;

  &.line-1 {
    --post-avatar-size: var(--post-body--line-height);
    --post-avatar-mini-size: var(--font-size-12);
    --post-avatar-mini-offset: calc(var(--post-avatar-size) - 4px);
    --post-avatar-origin-size: var(--font-size-12);
    --post-avatar-origin-offset: calc(var(--post-avatar-size) / 2 - 4px);
  }
}

h1 {
  color: var(--color-text-title);
  font-size: 3.2em;
  line-height: 1.1;
}

button,
input {
  outline-width: 2;
  outline-color: var(--dote-color-white);
}

.dote-unvisible {
  visibility: hidden;
}

.post-item {
  transition: opacity 0.2s ease;

  &.is-read {
    opacity: 0.6;
  }
}

.dote-field-group-title {
  display: block;
  padding: 8px 16px 0px;
  color: var(--color-text-title);
  font-weight: bold;
  font-size: 1rem;

  & + * {
    margin-top: 16px;
  }
}

.dote-field-row {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  min-height: 40px;
  padding: 8px 16px;
  line-height: 1;

  &.indent-1 {
    padding-left: 32px;
  }

  &.indent-2 {
    padding-left: 48px;
  }

  &.active {
    background-color: var(--color-foreground);
  }

  &.wrap {
    flex-wrap: wrap;

    .actions {
      width: 100%;
    }
  }

  .actions {
    display: inline-flex;
    gap: 4px;
    align-items: center;
    justify-content: flex-end;
    margin: auto 0 auto auto;
  }
}

.toot-content {
  img.emoji {
    height: var(--font-size-12);
    margin-bottom: -2px;
  }
  a {
    color: var(--color-text-link);
  }
}
