.nn-form {
}

.nn-form-item {
  position: relative;
  display: block;

  > .nn-form-item-action {
    position: absolute;
    top: 0;
    right: 4px;
    bottom: 0;
    height: 32px;
    margin: auto;
  }
}

label.nn-label {
  display: block;
  color: rgba(255,255,255, 0.72);
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  text-align: left;
  & + .nn-text-field {
    margin-top: 4px;
  }
}

input.nn-text-field,
textarea.nn-text-field {
  display: inline-flex;
  height: 24px;
  margin: 0;
  padding: 2px 8px;
  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  -webkit-appearance: textfield;

  &:focus {
    background: rgba(255, 255, 255, 0.2);
  }
}


.nn-toggle {
  display: inline-flex;
  cursor: pointer;
  input[type="checkbox"] {
    display: none;
    &:not(:checked) + .nn-toggle-ui {
      background: #bfbfbf;
      .nn-toggle-on-text {
        opacity: 0;
      }
      &::before {
        transform: translateX(-16px);
      }
    }
    &:checked + .nn-toggle-ui {
      background: #ff6f36;
      .nn-toggle-off-text {
        opacity: 0;
      }
      &::before {
        transform: translateX(16px);
      }
    }
  }
  div.nn-toggle-ui {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 64px;
    height: 32px;
    border-radius: 16px;
    &::before {
      position: absolute;
      right: 0;
      left: 0;
      z-index: 1;
      width: 24px;
      height: 24px;
      margin: auto;
      background: #fff;
      border-radius: 14px;
      transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
      content: "";
    }
    span {
      position: absolute;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 100%;
      font-weight: bold;
      font-size: 12px;
      line-height: 1;
      text-transform: uppercase;
      transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
      pointer-events: none;
    }
    .nn-toggle-on-text {
      left: 4px;
    }
    .nn-toggle-off-text {
      right: 4px;
    }
  }
}

.nn-checkbox {
  display: inline-flex;
  align-items: center;
  & > input {
    display: inline-flex;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin: 0;
    border: 2px solid #bdbdbd;
    border-radius: 4px;
    cursor: pointer;
  }
  & > span {
    margin-left: 8px;
  }
}

.nn-select {
  display: inline-flex;
  height: 24px;
  margin: 0;
  padding: 0 8px;
  color: var(--color-text-body);
  font-weight: normal;
  font-size: 16px;
  background: transparent;
  border: 1px solid var(--dote-color-white-t2);
  border-radius: 4px;

  &:focus {
    border-color: var(--dote-color-white-t3);
  }
}

.nn-radio {
  width: 20px;
  height: 20px;
  margin: 0;
}

.nn-radio-label {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  span {
    margin-left: 4px;
    line-height: 1;
  }
}
