.nn-icon {
  display: inline-flex;
  width: 24px;
  height: 24px;
  fill: var(--dote-color-white);

  &.size-large {
    width: 32px;
    height: 32px;
  }
  &.size-small {
    width: 20px;
    height: 20px;
  }

  &.size-xsmall {
    width: 16px;
    height: 16px;
  }

  &.size-x2small {
    width: 12px;
    height: 12px;
  }

  &.secondary {
    fill: var(--dote-color-white-t4);
  }

  &.disabled {
    fill: var(--dote-color-white-t2);
  }

  &.accent {
    fill: #0095ee;
  }

  &.attention {
    fill: #ff0211;
  }

  &.white {
    fill: #ffffff;
  }

  &.black {
    fill: #000000;
  }

  &.inherit {
    fill: inherit;
  }

  &.warning {
    fill: #ff6f36;
  }
}
